* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

button{
    outline: none;
    border: 2px solid black;
}

#bgd{
    position: fixed;
    width: 100%;
}

#videobgd{
    position: fixed;
    width: 100%;
}

#sider{
    width: 100px;
    height: 990px;
    display: block;
    text-align: center;
    background-color:black;
    opacity: 90%;
    position: fixed;
}

#menusider{
    width: 100px;
    height: 990px;
    display: block;
    text-align: center;
    background-color: white;
    position: fixed;
    z-index: 1;
}

#menusider a{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.l1, .l2, .l3, .l4{
    height: 50px;
    position: relative;
    padding-top: 50px;
    color: white;
    border-bottom: 2px solid white;
}

#sider li a{
    text-decoration: none;
    color: white;
}

.l11, .l22, .l33, .l44{
    height: 50px;
    position: relative;
    padding-top: 50px;
    color: white;
    border-bottom: 2px solid black;
}

#title{
    height: 385px;
    padding-top: 200px;
    background-color: black;
    color: white;
    border-bottom: 2px solid white;
}

#menutitle{
    height: 385px;
    padding-top: 200px;
    background-color: white;;
    border-bottom: 2px solid black;
}

#menu{
    position: absolute;
    margin-top: -25px;
    margin-left: 5px;
}

#logo{
    position: absolute;
    margin-top: -25px;
    margin-left: -10px;
}

#search{
    position: absolute;
    margin-top: -20px;
    margin-left: -20px;
}

#music{
    position: absolute;
    margin-top: -15px;
    margin-left: -16px;
}

#qa{
    position: absolute;
    margin-top: -20px;
    margin-left: -25px;
}

#whiteBlock{
    width: 800px;
    height: 990px;
    position: absolute;
    background-color: white;
    margin-left: 1000px;
}

#slogan{
    width: 450px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 60px;
}

#option{
    height: 40px;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: inherit;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}

#next{
    height: 40px;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 2px solid black;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

#option:hover{
    border: 2px solid white;
    color: white;
    background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 50%, #c2e9fb 100%);
}

#option a{
    text-decoration: none;
    color: inherit;
}

#next a{
    text-decoration: none;
    color: inherit;
}

#help{
    font-size: 26px;
    margin-top: 100px;
    margin-left: 100px;
    font-weight: bold;
}

#headbar{
    width: 100%;
    margin-top: 0;
    margin-left: 100px;
    position: fixed;
    background-color: white;
    z-index: 2;
}

#headbar li:hover{
    background-color: black;
    color: white;
    opacity: 90%;
}

#headbar ul{
    list-style-type: none;
    overflow: hidden;
    margin-left: 0px;
    padding: 0;
}

#headbar li a{
    display: block;
    color: inherit;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    font-size: 26px;
    margin-top: 30px;
}

#headbar li{
    height: 100px;
    width: 421px;
    float: left;    
    border-right: 2px solid black;
    position: relative;
    overflow: hidden;
}

#dropbtn{
    cursor: pointer;
    background-color: white;
}

#dropbtn:hover{
    background-color: black;
}

#dropdown{
    margin-left: 100px;
    margin-top: 100px;
    height: 400px;
    width: 421px;
    position: absolute;
    display: inline-block;
    background-color: white;

}

#dropdown li{
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 33px;
    list-style-type: none;
    font-weight: 300;
}

#dropdown a{
    font-size: 26px;
    text-decoration: none;
    display: block;
    color: inherit
}

#dropdown li:hover{
    border-right: 10px solid black;
    color: inherit;
    font-weight: bold;
}

#d1{
    color: black;
}

#d2{
    margin-left: -20px;
    color: black;
}

#d3{
    margin-left: -25px;  
    color: black;
}

#d4{
    margin-left: 16px;  
    color: black;
}

#forest{
    position: fixed;
    width: 50%;
    height: 1500px;
}

#ocean{
    position: absolute;
    width: 50%;
    height: 1600px;
}

#oceanp{
    padding-top: 1050px;
}

#musicright{
    width: 50%;
    position: absolute;
    padding-left: 50%;
}

#musictitle{
    margin-left: 270px;
    margin-right: 240px;
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 46px;
    font-weight: bold;
    border-bottom: 3px solid black;
}

#musiclistwidth{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 60px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 2px solid white;
}

#musiclistwidth2{
    margin-top: 63px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 58px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border: 2px solid white;
}

#musicright h2{
    font-size: 30px;
    font-weight: 500;
}

#musicright p{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 350;
}

#musicright h3{
    margin-top: 10px;
    font-weight: 300;
    font-size: 22px;
}

#playbtn{
    height: 50px;
    padding-left: 280px;
    margin-top: 40px;
    border: 1px solid black;
    cursor: pointer;
}



#playbtn2{
    height: 50px;
    padding-left: 280px;
    margin-top: 40px;
    border: 1px solid black;
    cursor: pointer;
}

#cover{
    position: absolute;
    width: 100%;
    height: 1000px;
    background-color: white;
    z-index: 1;
}

#coverimage{
    position: absolute;
    width: 28%;
    height: 750px;
    margin-left: 350px;
    margin-top: 200px;
    z-index: 2;
}

#wellbeingbox{
    position: absolute;
    margin-left: 750px;
    margin-top: 180px;
    padding-left: 200px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}

#wellbeingtitle{
    font-size: 46px;
    font-weight: 500;
}

#wellbeingcontent{
    text-align: left;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 320px;
    font-size: 26px;
    font-weight: 300;
}

#readbutton{
    margin-left: 0px;
    margin-top: 60px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color:white;
    color: inherit;
    font-size: 20px;
}

#readbutton:hover{
    width: 400px;
    background-color: black;
    color: white;
    transition: width 0.75s cubic-bezier(0.47, 0, 0.745, 0.715);
    opacity: 90%;
}

#contentblock{
    width: 100%;
    height: 2700px;
    position: absolute;
    padding-top: 1000px;
    background-color: rgb(250, 250, 250);
}

#contentblock h1{
    font-size: 36px;
    margin-left: 150px;
    margin-right: 100px;
}

#contentblock p{
    margin-top: 50px;
    font-size: 26px;
    text-align: right;
    font-weight: 300;
    margin-left: 0px;
    margin-right: 150px;
}

#date{
    font-weight: 300;
    margin-bottom: 30px;
}

#article{
    height: 500px;
    margin-left: 250px;
    margin-right: 750px;
    text-align: left;
    margin-top: 200px;
    margin-bottom: 200px;
}

#lowerbutton{
    margin-left: 540px;
    margin-top: 60px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color:white;
    color: inherit;
    font-size: 20px;
}

#article2{
    padding-bottom: 200px;
    padding-top: 300px;
    padding-left: 900px;
    padding-right: 200px;
    text-align: left;
    background-color: rgb(80, 150, 200);
    color: white;
}

#article2 h1{
    margin-top: -150px;
    margin-right: 0px;
    margin-left: -300px;
}

#article2 p{
    text-align: left;
    margin-left: 150px;
    margin-top: 150px;
}

#lowerbutton2{
    margin-left: 330px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color:white;
    color: black;
    font-size: 20px;
    border: none;
}

#lowerbutton2:hover{
    background-color: rgb(80, 150, 200);
    color: white;
    transition: border-radius 1s cubic-bezier(0.47, 0, 0.745, 0.715);
    border-radius: 50px;
    border: 5px solid white;
}

#medi{
    width: 30%;
    height: 15%;
    float: right;
    position: absolute;
    margin-left: 800px;
    margin-top: -60px;
}

#medileft{
    width: 35%;
    height: 12%;
    position: absolute;
    margin-left: -600px;
    margin-top: -50px;
}

#videobtn{
    position: absolute;
    background-color: rgb(30, 30, 30);
    opacity: 80%;
    margin-left: 810px;
    margin-top: 400px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#playvideobtn{
    padding-left: 30px;
    padding-top: 25px;
    width: 50%;
    height: 50%;
    cursor: pointer;
}

#startcube, #secondcube, #thirdcube, #lastcube{
    cursor: pointer;
}



#startcube{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 400px;
    margin-top: 900px;
    background-color: white;
    opacity: 30%;
}

#firstone {
    position: absolute;
    width: 300px;
    height: 100px;
    margin-left: 400px;
    margin-top: 750px;
    background-color: white;
    opacity: 80%;
}

#firstone p{
    font-size: 18px;
    margin-top: 6px;
    text-align: center; 
    font-family: 'Hind Siliguri', sans-serif;
}

#secondone {
    position: absolute;
    width: 280px;
    height: 100px;
    margin-left: 750px;
    margin-top: 750px;
    background-color: white;
    opacity: 80%;
}

#secondone p{
    font-size: 18px;
    margin-top: 6px;
    text-align: center; 
    font-family: 'Hind Siliguri', sans-serif;  
}

#thirdone {
    position: absolute;
    width: 280px;
    height: 100px;
    margin-left: 1080px;
    margin-top: 750px;
    background-color: white;
    opacity: 80%;
}

#thirdone p{
    font-size: 26px;
    margin-top: 30px;
    text-align: center; 
    font-family: 'Hind Siliguri', sans-serif;  
}

#lastone {
    position: absolute;
    width: 280px;
    height: 100px;
    margin-left: 1410px;
    margin-top: 750px;
    background-color: white;
    opacity: 80%;
    border-radius: 30px;
    opacity: 80%;
}

#lastone p{
    font-size: 18px;
    margin-top: 20px;
    text-align: center;  
    font-family: 'Hind Siliguri', sans-serif; 
}

#line{
    position: absolute;
    width: 200px;
    height: 2px;
    margin-left: 500px;
    margin-top: 920px;
    background-color: white;
    opacity: 50%;
}

#secondcube{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 750px;
    margin-top: 905px;
    background-color: white;
    opacity: 30%;
}

#line2{
    position: absolute;
    width: 200px;
    height: 2px;
    margin-left: 830px;
    margin-top: 920px;
    background-color: white;
    opacity: 50%;
}

#thirdcube{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 1080px;
    margin-top: 905px;
    background-color: white;
    opacity: 30%;
}

#line3{
    position: absolute;
    width: 200px;
    height: 2px;
    margin-left: 1160px;
    margin-top: 920px;
    background-color: white;
    opacity: 50%;
}

#lastcube{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1410px;
    margin-top: 895px;
    background-color: white;
    opacity: 30%;
    border-radius: 30px;
}